/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: block;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}
img {
    width: 325px;  /* adjust as needed */
    height: 310px; /* adjust as needed */
    object-fit: cover; /* this will prevent distortion */
}
.item {
  display: inline-block;
  margin-right: 1px;
}





/* Banner Styles */
#banner {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
}

/* Section Styles */
section {
    margin: 20px 0;
}

/* Social Media Styles */
section:nth-child(3) {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Contact Styles */
section:nth-child(4) {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.container-catergory{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.new-products{
    height: 33vh;
    display: flex;
    justify-content: left;
    align-items: left;
}
.new-products>div{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    line-height: 0.1rem;
}
.product-details{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 0.5rem;
    line-height: 0.1rem;
}
.product-details > .details button{
    display: block;
    width: 100%;
  

}

.details{
    border: 2zpx solid #666;
    box-shadow: 0 1px 2px 0 #666;
    padding: 2rem 5rem ;
}
.details>img{
    width: 100%;
}

.add-cart{
    padding: 1rem;
    background-color: darkgreen;
    border: none;
}
.product-description{
  text-transform: none;
}
.product-img{
    width: 100%;
}
.back-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.1rem;
    margin-bottom: 0.1rem;
}
.cart{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container{
   display: block;
}

.cart-product{
    display: block;
}
.cart-details{
    padding: 1rem;
}
.cart-action{
    display: flex;
}
.cart-discard-btn{
    background-color: white;
    border: 0.5px solid #666;
}
.cart-product-adjust{
    display: flex;
}
.increase-btn{
    border-right: none;
}
.quantity{
    border-right: none;
    border-left: none;
}
.decrease-btn{
    border-left: none;
}
.checkout-btn{
    width: 100%;
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    border: none;
}
.break-line{
    border: 1px solid #a8a4a4;
}
.checkout-btn:hover{
    box-shadow: 0 1px 2px 0 #666;
}
.about-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content{
    display: block;
    text-transform: none;
    border: 2zpx solid #666;
    box-shadow: 0 1px 2px 0 #666;
    padding: 2rem 5rem ;
    max-width: 45%;
    color: #000000;
    background-color: #e7e4e4;
    

}
.about-container p{
    line-height: 2rem;
    color: #000000;
}
.about-title p{
    text-align: center;
}

.contact-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-card{
    box-shadow: 0 1px 2px 0 #666;
    padding: 2rem;
}
.send-message{
    display: block;
   
}

.send-message> .email{
    min-width: 100%;
    padding: 0.8rem 0.5rem;
    margin-bottom: 1rem;
}
.send-message > .message{
    padding: 2rem 0.5rem;
    min-width: 100%;
    margin-bottom: 2rem;
}

.about-sec{
    display: flex;
    line-height: 0.5rem;
}